<!DOCTYPE html>
  <html>
    <head>
      <title>CONKT - トップページ</title>
      <link rel="stylesheet" href="styles.css">
    </head>

    <body>
      <div class="container">
        <h1>CONKTへようこそ</h1>

        <p>「CONKT」</p>
        <p>コネクトは、繋ぐという意味</p>
        <p>人々がお互いに繋がり、コミュニケーションを促進するプラットフォーム</p>
        <p>コミュニケーションや出会いを促進するアプリとして、多くの人々にとって魅力的な存在へ</p>

        <hr>

        <p>CO=communication (コミュニケーション)</p>
        <p>N=New Beginnings (新たな始まり)</p>
        <p>KT=Kickstart (スタートを切る)</p>

        <hr>

        <p>CONKTが新たな出会いや関係をスタートさせる場として、新たな始まりのきっかけになりますように</p>
      </div>
    </body>
  </html>
