/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Zen Maru Gothic', sans-serif;
}

body {
  font-family: 'Zen Maru Gothic', sans-serif;
  background-color: #fffdfa;
  width: 100%;
}

header {
  color: rgb(255, 255, 255);
  width: 100%; /* 横幅を100%に設定 */
  text-align: center; /* テキストを中央寄せに */
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 左右に要素を配置 */
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 130px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0 10px;
  font-family: 'Bricolage Grotesque', sans-serif;
}

/* Style alerts */
.alert {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

.alert-notice {
  background-color: rgba(0, 0, 0, 0.5);  /* アラート */
  color: white;
}

.alert-error {
  background-color: rgba(0, 0, 0, 0.5); /* アラート */
  color: white;
}


  main {
    padding: 0; /* 余白をなくす */
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    width: 100%; /* 横幅を画面幅いっぱいに設定 */
    text-align: center; /* テキストを中央寄せに */
    line-height: 3;
  }

footer {
  background-color: transparent; /* フッターの背景色 */
  color: white;
  padding: 15px 0; /* ヘッダーと同じ高さに設定 */
  text-align: right;
  width: 100%; /* フッターを画面幅いっぱいに */
  box-sizing: border-box; /* パディングを含めたボックスサイズ */
}

.footer-content {
  font-family: 'Zen Maru Gothic', sans-serif;
  max-width: 100px;
  margin-left: auto;
  margin-right: 10px; /* 右寄せ */
  background-color: transparent;
}

