/* フレックスコンテナを作成し、横に並べるスタイルを設定 */
.favorites-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* 左右の間隔 */
  justify-content: center; /* 中央寄せ */
}

/* 各グループのスタイル */
.favorites-group {
  display: flex;
  gap: 20px; /* 各項目の間隔 */
}

/* 各項目のスタイル */
.favorite-item {
  text-align: center; /* 中央寄せ */
}

/* アイコンと名前のスタイル */
.profile-icon {
  width: 300px;
  height: 300px;
  object-fit: contain; /* 画像を切り取らずに収める */
  display: block;
  margin: 0 auto; /* アイコンを中央寄せ */
  border-radius: 50%; /* 丸い枠 */
  padding: 8px; /* 枠からアイコンまでの間隔を調整 */
}


.profile-name-top {
  font-size: 12px;
  margin-top: 5px; /* 名前とアイコンの間隔 */
}
