/* フレックスコンテナを作成し、横に並べるスタイルを設定 */
.favorites-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* 左右の間隔 */
  justify-content: center; /* 中央寄せ */
}

/* 各グループのスタイル */
.favorites-group {
  display: flex;
  gap: 20px; /* 各項目の間隔 */
}

/* 各項目のスタイル */
.favorite-item {
  text-align: center; /* 中央寄せ */
}

/* アイコンと名前のスタイル */
.profile-icon {
  width: 180px; /* 丸の幅を大きく */
  height: 180px; /* 丸の高さを大きく */
  border-radius: 50%;
  overflow: visible; /* 画像がアイコン外にはみ出すように変更 */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(193, 197, 198); /* 白い背景色を追加 */
  border: 3px solid rgb(255, 255, 255);
  margin-top: 20px; /* アイコンとテキストの間隔を調整 */
  margin-bottom: 20px; /* 下の余白を追加 */
}


.profile-name-favorite {
  font-size: 12px;
  margin-top: 1px; /* 名前とアイコンの間隔 */
  color: black;
}
