/* トップページ（pages/index） */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bricolage Grotesque', sans-serif;
}

@media (max-width: 767px) {
  /* トップページの背景画像のサイズを調整 */
  #page-a {
    background-size: contain; /* 画像が収まるように調整 */
    background-repeat: no-repeat; /* 画像の繰り返しを無効化 */
  }
}

/* Set base font */
#page-a {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 画面の最小高さをビューポートの高さと一致させる */
  align-items: center; /* コンテンツを中央に配置 */
  justify-content: center; /* コンテンツを縦方向にも中央に配置 */
  width: 100%;
  color: #332105;

  background-image: url('love.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
}

.keymsg {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 3.0rem;
  font-weight: 500;
  padding: 0.3em 0.6em;
  background-color: #FCFCFA;
}

/*新規登録簿ボタン */
.button_solid015 {
  text-align: center;
  margin-top: 20px; /* ボタンを下に移動 */
}

.button_solid015 p {
  margin-bottom: 5px;
  font-weight: 600;
  color: white;
  letter-spacing: 0.04rem;
  display: inline-block;
  position: relative;
}

.button_solid015 p:before, .button_solid015 p:after {
  display: inline-block;
  position: absolute;
  top: 45%;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-color: white;
  content: "";
}

.button_solid015 p:before {
  left: -30px;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}

.button_solid015 p:after {
  right: -30px;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.button_solid015 a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: black;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: white;
  border-radius: 50px;
  text-decoration: none; /* アンダーラインを非表示にする */
}

.button_solid015 a:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
}

.button_solid015 a:after {
  display: none; /* ✖︎（アイコン）を非表示にする */
}

/*機能紹介*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; /* 要素全体を右に20px移動 */
  margin-left: 25px; /* 要素全体を右に20px移動 */
}

.image-group {
  display: flex;
  gap: 20px; /* 画像コンテナ間の間隔を調整 */
  justify-content: center; /* 画像グループを中心に配置 */
  align-items: center; /* 画像グループを縦方向に中心に配置 */
}

.image-container {
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 10px;
}

.image-container img {
  width: 60px; /* 画像の幅を調整 */
  height: 60px; /* 画像の高さを調整 */
}

.image-comment {
  font-family: 'Zen Maru Gothic', sans-serif;
  background-color: transparent;
  color: white;
  padding: 8px;
  box-sizing: border-box;
  white-space: pre-line;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* マイページ(pages/show) */
.my-icon {
  display: inline-block;
  margin-top: 20px;
}

.my-icon img {
  width: 100px;
}

/* AIニックネームロボット */
.image-chatrobot {
  position: absolute;
  top: 38%; /* 上端からの距離を調整 */
  right: 30%; /* 右端からの距離を調整 */
}

/* 画像のサイズを調整 */
.image-chatrobot img {
  max-width: 80px; /* 画像の最大幅を設定 */
  height: auto; /* 高さを自動調整 */
}

.button-group {
  text-align: right;
  position: relative; /* 親要素に相対的な位置を指定 */
  margin-top: -20px; /* 全体的に上に移動 */
}

.button_line004 a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  position: absolute; /* 要素を絶対位置で配置 */
  top: 30%; /* 上端からの距離を調整 */
  right: 20%;
}

.button_line004 a:before,
.button_line004 a:after {
content: '';
width: 18px;
height: 18px;
border-color: #6bb6ff;
box-sizing: border-box;
border-style :solid;
display: block;
position: absolute;
transition: all 0.3s ease-in-out;
}

.button_line004 a:before {
top: -6px;
left: -6px;
border-width: 2px 0 0 2px;
z-index: 5;
}

.button_line004 a:after {
bottom: -6px;
right: -6px;
border-width: 0 2px 2px 0;
}

.button_line004 a:hover:before,
.button_line004 a:hover:after {
width: calc(100% + 12px);
height: calc(100% + 12px);
border-color: #6bb6ff;
}

.button_line004 a:hover {
color: #fff;
background-color: #6bb6ff;
border-color: #6bb6ff;
}

.table-bordered td {
  border-bottom: 1px solid #ddd; /* 線のスタイルを設定 */
  padding: 8px; /* セル内の余白を調整 */
}
/*編集/戻るボタン*/
.edit-botton {
  background-color: rgb(235, 222, 185); /* 黒色に変更 */
  color: rgb(52, 37, 37); /* テキスト色を白に設定 */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* ホバーエフェクト */
.btn:hover {
  opacity: 0.8; /* ホバーエフェクト時の透明度を下げて少し暗くする */
}
