/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set base font */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7; /* 淡いグレーの背景色 */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 画面の最小高さをビューポートの高さと一致させる */
  align-items: center; /* コンテンツを中央に配置 */
  justify-content: center; /* コンテンツを縦方向にも中央に配置 */
  width: 100%;
  color: #332105;
}

.content {
  flex: 1; /* コンテンツが残りのスペースを占有 */
  width: 100%;
  background-color: transparent; /* 背景色を透明にする */
  text-align: center; /* テキストを中央寄せに */
}

.container {
  max-width: 100%; /* 横幅を画面幅いっぱいに設定 */
  margin: 0; /* 余白をなくす */
  background-color: transparent; /* 背景色を透明にする */
  border: none; /* ボーダーを削除 */
  box-shadow: none; /* 影を削除 */
}

.icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* マイページ */
.my-icon {
  display: inline-block;
  margin-top: 20px;
}

.my-icon img {
  width: 100px;
}

