/* トップページ（pages/index） */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bricolage Grotesque', sans-serif;
}

/* トップページ */
#page-a {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 画面の最小高さをビューポートの高さと一致させる */
  align-items: center; /* コンテンツを中央に配置 */
  justify-content: center; /* コンテンツを縦方向にも中央に配置 */
  width: 100%;
  color: #332105;
  // background-image: url('love.jpg');
  background-image: image-url('love.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
}

.keymsg {
  font-family: 'Zen Maru Gothic', sans-serif;;
  font-size: 1.5rem;
  font-weight: 900;
  color: #0b0101;
  line-height: 1;
}

/*新規登録簿ボタン */
.button_solid015 {
  text-align: center;
  margin-top: 80px; /* ボタンを下に移動 */
}

.button_solid015 p {
  margin-bottom: 5px;
  font-weight: 600;
  color: white;
  letter-spacing: 0.04rem;
  display: inline-block;
  position: relative;
}

.button_solid015 p:before, .button_solid015 p:after {
  display: inline-block;
  position: absolute;
  top: 45%;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-color: white;
  content: "";
}

.button_solid015 p:before {
  left: -30px;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}

.button_solid015 p:after {
  right: -30px;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.button_solid015 a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: black;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: white;
  border-radius: 50px;
  text-decoration: none; /* アンダーラインを非表示にする */
}

.button_solid015 a:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
}

.button_solid015 a:after {
  display: none; /* ✖︎（アイコン）を非表示にする */
}

/*機能紹介*/
.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; /* 要素全体を右に20px移動 */
  margin-top: 100px; /* 要素全体を下に20px移動 */
  margin-left: 25px; /* 要素全体を右に20px移動 */
}

.image-group {
  display: flex;
  gap: 20px; /* 画像コンテナ間の間隔を調整 */
  justify-content: center; /* 画像グループを中心に配置 */
  align-items: center; /* 画像グループを縦方向に中心に配置 */
}

.image-container {
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 10px;

}

.image-container img {
  width: 60px; /* 画像の幅を調整 */
  height: 60px; /* 画像の高さを調整 */
}

.image-comment {
  font-family: 'Zen Maru Gothic', sans-serif;
  background-color: transparent;
  color: white;
  padding: 8px;
  box-sizing: border-box;
  white-space: pre-line;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* マイページ(pages/show) */
.edit-button-ellipse {
  display: inline-block;
  padding: 0.5px 100px; /* ボタンのパディングを調整 */
  background-color: transparent; /* 透明な背景色 */
  color: rgb(209, 151, 161); /* ピンクの文字色 */
  border: 2px solid rgb(209, 151, 161); /* ピンクの境界線を設定 */
  border-radius: 100px; /* 楕円形のボーダーラジウスを設定 */
  text-align: center;
  text-decoration: none;
  opacity: 0.7; /* 透過度を設定 */
  transition: opacity 0.3s ease-in-out; /* 透過度のトランジションを設定 */
}

.edit-button-ellipse:hover {
  opacity: 1; /* ホバーエフェクトで透過度を元に戻す */
  background-color: pink; /* ピンクの背景色 */
  color: white; /* 白の文字色 */
}

.my-icon-container {
  display: inline-block;
  margin-top: 40px; /* 上の余白を調整 */
}

.my-icon {
  width: 180px; /* 幅と高さを同じ値に設定 */
  height: 180px;
  border-radius: 50%;
  overflow: hidden; /* 画像が円形からはみ出さないようにする */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(242, 234, 234);
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-icon img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}


.profile-title {
  font-size: 10px;
  margin-top: -10px;
}

/* AIニックネームロボット */
.image-chatrobot img {
  max-width: 80px; /* 画像の最大幅を設定 */
  margin-top: -50px;
}

.button-group {
  text-align: right;
  position: relative; /* 親要素に相対的な位置を指定 */
  margin-top: -20px; /* 全体的に上に移動 */
}
.button_line004 a {
  position: relative;
  display: inline-block; /* インラインブロック要素に変更 */
  padding: 10px 40px; /* パディングを調整して横長に */
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  text-align: center; /* テキストを中央揃えに */
  text-decoration: none;
  border: 2px solid #76a8db;
  border-radius: 5px;
  margin: 50px 0;
}

.button_line004 a:hover {
  color: #fff;
  background-color: #76a8db;
  border-color: #76a8db;
}

/* 擬似要素のスタイルを調整 */
.button_line004 a:before,
.button_line004 a:after {
  width: 0; /* 横幅を0に調整 */
  height: 0; /* 高さを0に調整 */
}

.button_line004 a:before {
  top: 0;
  left: 0;
  border-width: 0 2px 2px 0;
}

.button_line004 a:after {
  bottom: 0;
  right: 0;
  border-width: 2px 0 0 2px;
}


.table-bordered td {
  border-bottom: 1px solid #ddd; /* 線のスタイルを設定 */
  padding: 8px; /* セル内の余白を調整 */
}
/*編集/戻るボタン*/
.edit-botton {
  background-color: rgb(235, 222, 185); /* 黒色に変更 */
  color: rgb(52, 37, 37); /* テキスト色を白に設定 */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* ホバーエフェクト */
.btn:hover {
  opacity: 0.8; /* ホバーエフェクト時の透明度を下げて少し暗くする */
}
