// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.user-row {
  display: flex;
  align-items: center;
}

.user-icon {
  margin-right: 10px;
}

.user-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.no-underline {
  text-decoration: none;
}