.user-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc; /* 下の境界線のスタイルと色を設定 */
  padding: 10px 0; /* 上下の余白を設定 */
  margin: 10px 0; /* 区切り線の上下のマージンを設定 */
}

.user-icon {
  margin-right: 10px;
}

.user-icon img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover; /* 画像を縦横比を保ちつつ収める */
  object-position: center center; /* 画像の中央に配置 */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(193, 197, 198); /* 白い背景色を追加 */
  border: 3px solid rgb(255, 255, 255);
  margin-top: 20px; /* アイコンとテキストの間隔を調整 */
  margin-bottom: 20px; /* 下の余白を追加 */
}

.user-info {
  display: flex;
  flex-direction: column;
}

.no-underline {
  text-decoration: none;
}
