<div class="chatbot-answer">
  <p>chatGPTによるニックネーム命名</p>
  <p>私を一言で表すと何になりますか？</p>

  <div class="answer-box">
    <%= @answer %>
  </div>
</div>

<div class="actions-chatbot">
  <p> プロフィールに登録する！ </p>
</div>